html {
    font-size: 16px;
}

body {
    min-height: 100vh;
    font-family: "Gowun Batang", serif;
    background-image: url(./imgs/f5f27448c036af645c27467c789ad759.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(48, 55, 216, 0.39);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(5.9px);
    backdrop-filter: blur(5.9px);
    border: 1px solid rgba(48, 55, 216, 1);
    gap: 2rem;
    margin-inline: 1rem;
}

main .buttons {
    display: flex;
    gap: 1rem;
}

.btn-light {
    background-color: transparent;
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 2rem;
    border: 1px solid white;
    transition: 0.3s;
}

.btn-light:hover {
    color: black;
    background-color: white;
    border: 1px solid white;
    transition: 0.3s;
}

main h1 {
    font-size: 10rem;
    color: white;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.77);
}

main .options {
    display: flex;
    gap: 1rem;
    align-items: center;
}

main .options i {
    color: white;
    font-size: 2rem;
}

.modal-body {
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
}

.bi {
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    main {
        padding: 1rem;
    }

    main h1 {
        font-size: 5rem;
    }

    main .options i {
        font-size: 1.2rem;
    }

    .btn-light {
        font-size: 1rem;
    }
}

@media screen and (max-width: 600px) {
    .btn-light {
        border-radius: 1rem;
    }
}

.selected {
    background-color: white;
    color: black;
}

#reset:hover {
    transform: scale(1.1);
}

.modal-content{
    background-color: black;
    color: white;
}

iframe{
    position: absolute;
    left: 10px;
    bottom: 0;
}